<h1>Change Password Form</h1>
<div class="form">
  <form action='/passchange' method="POST">
    <label for="oldPassword">Old Password</label>
    <input type="password" id="oldPassword" name="oldPassword">
    <label for="password">New Password</label>
    <input type="password" id="password" name="password">
    <label for="repeatPassword">Retype New Password</label>
    <input type="password" id="repeatPassword" name="repeatPassword">
    {{#if errors.username}}
    <div><span class="error">{{errors.username}}</span></div>
    {{/if}}
    {{#if errors.password}}
    <div><span class="error">{{errors.password}}</span></div>
    {{/if}}
    <input type="submit" value="Change">
  </form>
</div>